/* Color Pallete */
:root {
    --color-primary: #1E2D3B;
    --color-secondary: #d6d6b1;
    --color-accent: #EDCD1F;
    --color-text: #3D5975;
    --color-quaternary: #878472; 
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}




/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5.5rem;
    }
}




/* Cards */
.card {
    width: 100%;
    height: 100%;
    max-width: 350px;
    background: #f7f7f7;
}

.card__image {
    width: 100%;
    min-width: 250px;
}

.card__body {
    padding: 2rem;
}

.card__heading {
    margin: 1.5rem 0 1rem 0;
    color: var(--color-primary);
}

.card__text {
    margin: 2rem 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}




/* Grid */
.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}




/* Banner */
.banner-background {
    background: var(--color-accent);
}

.banner {
    background: var(--color-accent);
    text-align: center;
    color: var(--color-text);
    margin: 0 auto;
}

.banner.grid {
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
}

.banner__heading {
    font-size: 3.5rem;
    margin: 2rem 0 1rem;
    font-weight: 500;
}

.banner__text {
    font-size: 2.4rem;
    word-spacing: 100vh;
    font-weight: 500;
    margin: 0 0 2rem 0;
}


@media screen and (min-width:768px) {
    .banner {
        padding: 2rem;
    }
    .banner.grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .banner__heading {
        font-size: 6rem;
    }

    .banner__year {
        border-right: 2px solid #fff;
        position: relative;
    }

    .banner__year::before {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-accent);
        height: 40px;
        width: 25px;
        right: -15px;
    }

    .banner__year::after {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-accent);
        height: 40px;
        width: 25px;
        bottom: 0;
        right: -15px;
    }

    .banner__projects {
        border-right: 2px solid #fff;
        position: relative;
    }

    .banner__projects::before {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-accent);
        height: 40px;
        width: 25px;
        right: -15px;
    }

    .banner__projects::after {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-accent);
        height: 40px;
        width: 25px;
        bottom: 0;
        right: -15px;
    }

    .banner__contractors {
        border-right: 2px solid #fff;
        position: relative;
    }

    .banner__contractors::before {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-accent);
        height: 40px;
        width: 25px;
        right: -15px;
    }

    .banner__contractors::after {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-accent);
        height: 40px;
        width: 25px;
        bottom: 0;
        right: -15px;
    }
}




/* Project Card */
.project {
    position: relative;
    max-height: 500px;
    max-width: 500px;
}

.project__image {
    width: 100%;
}

.project__image:hover {
    width: 110%;
}

.project__overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.project__overlay:hover {
    opacity: 0.8;
}

.project__text {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    position: absolute;
    font-size: 2.4rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}




/* Hero */
.hero {
    position: relative;
}
.hero__video {
    width: 100%;
    height: 100%;
}

.hero__overlay {
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero__text {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.4rem;
}

.hero__arrow {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.hero__arrow > img {
    filter: invert(1);
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.hero__arrow > img:hover {
    transform: translateY(10px);
}


@media screen and (min-width:768px) {
    .hero__arrow > img {
        height: 75px;
        width: 75px;
    }
    .hero__text {
        font-size: 7rem;
    }
}




/* Services block */
.services__header {
    text-align: center;
    position: relative;
}

.block-services .block__heading {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.block__heading-underline {
    width: 100px;
    position: relative;
    bottom: 10px;
}


.services__grid {
    margin-top: 4rem;
    justify-items: center;
    margin: 0 1rem;
    row-gap: 4rem;
}

@media screen and (min-width:768px) {
    .services__grid {
        gap: 0 2rem;
        margin: rem auto; 
    }

    .block__heading-underline {
        width: 200px;
        bottom: 20px;
    }

    .block-services .block__heading {
        font-size: 6rem;
    }

    .block-services .block__heading::before {
        content: '';
        display: block;
        position: absolute;
        height: 11px;
        width: 44%;
        bottom: 0;
        background-color: #fff;
    }

    .block-services .block__heading::after {
        content: '';
        display: block;
        position: absolute;
        height: 11px;
        width: 44%;
        bottom: 0;
        right: 0;
        background-color: #fff;
    }
}




/* About Block */
.block-about {
    background: #f7f7f7;
    width: 100%;
}

.about__image {
    width: 100%;
}

.about__header {
    background: #f7f7f7;
    margin: 4rem ;
    position: relative;
}

.about__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.about-underline {
position: absolute;
top: 40px;
left: -15px;

}

.about__text {
    margin-top: 4rem;
    font-size: 1.8rem;
    line-height: 1.7;
}

@media screen and (min-width:768px) {
    .about__image {
        width: auto;
        justify-self: start;
        order: 2;
    }

    .about__grid {
        grid-template-columns: 50% 50%;
    }

    .about__heading {
        font-size: 6rem;
    }

    .about-underline {
        top: 50px;
        left: -30px;
    }
}




/* Projects Block */
.block-projects {
    margin: 4rem auto;
}
.block-projects .block__header {
    position: relative;
    text-align: center;
}

.projects-underline {
    margin-top: 1rem;
}

.projects__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--color-primary);
}

.projects-grid {
    margin-top: 4rem;
    justify-content: center;
    gap: 2rem 0;
}

@media screen and (min-width:768px) {
    .projects__heading {
        font-size: 6rem;
    }

    .block-projects .block__header {
        text-align: center;
    }

    .projects-underline {
        left: 0;
    }

    .projects-grid {
        grid-template-columns: repeat(2, auto);
        justify-items: center;
        gap: 4rem
    }
}




/* Lists */
.list {
    list-style: none;
}




/* Collapsible */
.collapsible .collapsible__content {
    opacity: 0;
    max-height: 0;
    transition: 0.3s;
}

.collapsible--expanded .collapsible__content {
    opacity: 1;
    max-height: 100%;
}




/* Navigation Bar */
.nav {
    background: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.nav__logo {
    filter: brightness(0);
    padding: 1rem;
}

.nav__menu-icon {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}

.nav__list {
    padding-left: 2rem;
    width: 100%;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.list__item > a {
    color: #000;
}

.list__item > a:hover {
    color: var(--color-text);
}

.nav__list .list__item {
    margin: 2rem 0;
}

@media screen and (min-width:768px) {
    .nav__menu-icon {
        display: none;
    }

    .collapsible .collapsible__content {
        max-height: 100vh;
        opacity: 1;
    }

    .nav__list {
        display: flex;
        width: auto;
        font-size: 1.8rem;
    }

    .list__item > a {
        margin: 2rem 2rem 0 0 ;
    }
}