<section class="block">
  <div class="banner-background">
    <div class="banner grid container">
      <div class="banner__year">
        <h2 class="banner__heading">2023</h2>
        <p class="banner__text">Year established</p>
      </div>
      <div class="banner__projects">
        <h2 class="banner__heading">206</h2>
        <p class="banner__text">Projects Completed</p>
      </div>
      <div class="banner__contractors">
        <h2 class="banner__heading">870</h2>
        <p class="banner__text">Contractors Appointed</p>
      </div>
      <div class="banner__awards">
        <h2 class="banner__heading">26</h2>
        <p class="banner__text">Awards Won</p>
      </div>
    </div>
  </div>
</section>
